{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %} Поиск  {% endblock title %}

{% block content %}


<!-- Перед таблицей добавим форму для поиска -->
<form method="GET">
    {{ filter.form }} <!-- Форму от фильтров за нас сделает Django. А вот кнопку, увы придётся делать самому -->
    <input type="submit" value="Найти">
</form>

<table>
    <thead>
        <th>
            Заголовок
        </th>
        <th>
            Дата публигации
        </th>
        <th>
            Краткое содеожание
        </th>
    </thead>
    {% for posts in filter.qs %} <!-- поменяем products на filter.qs, т. к. теперь мы забираем уже отобранную по каким-то параметрам информацию -->
    <tr>

        <td>
            {{ posts|truncatewords:5|censor }}
        </td>
        <td>
            {{ posts.time_create|date:'d M Y' }}
        </td>
        <td>
            {{ posts|truncatewords:20|censor }}
        </td>
    </tr>
    {% endfor %}
</table>

{% if is_paginated %}

    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

{% endif %}
{% endblock content %}